.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;  /* centers horizontally */
  justify-content: flex-start; /* stays near top */
  height: 100vh;
  padding-top: 40px;
}
